In [2]:
import pandas as pd
import yfinance as yf

## Prepare data
### loading data

In [23]:
df = pd.read_csv('/Users/bowenduan/Applications/OneDrive/200_Knowledge/210_Academe/211_University/PACE University/105_Spring 2021/CS668 Analytics Capstone/CS668-2021/data/AAPL.csv')
df.head()

         Date       Open       High        Low      Close     Volume
0  2011-02-09  10.926702  11.043910  10.916859  11.018068  482745200
1  2011-02-10  10.994382  11.074673  10.705516  10.906707  928550000
2  2011-02-11  10.913166  11.006992  10.875942  10.977768  367572800
3  2011-02-14  10.975924  11.058675  10.973463  11.049447  310416400
4  2011-02-15  11.049754  11.073750  10.999304  11.071596  284174800

In [24]:
# get the previouse day close to label the data
df['NxtClose'] = df['Close'].shift(-1)
df.head()

,Date,Open,High,Low,Close,Volume,NxtClose
0,2011-02-09,10.926702,11.043910,10.916859,11.018068,482745200,10.906707
1,2011-02-10,10.994382,11.074673,10.705516,10.906707,928550000,10.977768
2,2011-02-11,10.913166,11.006992,10.875942,10.977768,367572800,11.049447
3,2011-02-14,10.975924,11.058675,10.973463,11.049447,310416400,11.071596
4,2011-02-15,11.049754,11.073750,10.999304,11.071596,284174800,11.170958

In [25]:
# label the observation 
# 1 for price going up, 0 for price going down
# calculate the daily percent change
df['Ptc'] = round(df['NxtClose']/df['Close'] - 1, 4)*100
df['sgn'] = [1 if  x > 0 else 0 for x in df['Ptc']]
df.head()

,Date,Open,High,Low,Close,Volume,NxtClose,Ptc,sgn
0,2011-02-09,10.926702,11.043910,10.916859,11.018068,482745200,10.906707,-1.01,0
1,2011-02-10,10.994382,11.074673,10.705516,10.906707,928550000,10.977768,0.65,1
2,2011-02-11,10.913166,11.006992,10.875942,10.977768,367572800,11.049447,0.65,1
3,2011-02-14,10.975924,11.058675,10.973463,11.049447,310416400,11.071596,0.20,1
4,2011-02-15,11.049754,11.073750,10.999304,11.071596,284174800,11.170958,0.90,1

### calculate variables

In [26]:
# calculate ratios as machine learning variables 
# these ratio calculation will be done by ta-lib
from talib import abstract

# moving average 
ma_list = [5, 10, 20, 30, 60]
for i in ma_list:
    df[f'ma{i}'] = pd.Series(abstract.SMA(df, timeperiod = i,price = 'Close'), index = df.index)

# volumne moving average     
ma_vol_list = [5, 10, 20, 30, 60]
for i in ma_vol_list:
    df[f'ma_vol{i}'] = pd.Series(abstract.SMA(df, timeperiod = i, price = 'Volume'), index = df.index)

df.tail()

,Date,Open,High,Low,Close,Volume,NxtClose,Ptc,sgn,ma5,ma10,ma20,ma30,ma60,ma_vol5,ma_vol10,ma_vol20,ma_vol30,ma_vol60
2511,2021-02-02,135.527476,136.106612,134.409152,134.788589,83305400,133.740158,-0.78,0,135.845007,137.223946,133.172000,132.618494,126.467268,130038140.0,124494920.0,1.142834e+08,1.165266e+08,1.084359e+08
2512,2021-02-03,135.557435,135.567429,133.410649,133.740158,89880900,137.184998,2.58,1,134.223431,137.414662,133.318282,132.860799,126.718809,119845560.0,123051060.0,1.138942e+08,1.131046e+08,1.078274e+08
2513,2021-02-04,136.096628,137.194977,134.389172,137.184998,84183100,136.759995,-0.31,0,134.283340,137.466585,133.856977,133.165677,127.030011,108157960.0,119416420.0,1.103490e+08,1.118690e+08,1.073228e+08
2514,2021-02-05,137.350006,137.419998,135.860001,136.759995,75524000,136.910004,0.11,1,135.282718,137.256334,134.158744,133.334902,127.373570,87826640.0,115578100.0,1.086463e+08,1.087563e+08,1.060063e+08
2515,2021-02-08,136.029999,136.949997,134.929993,136.910004,68005611,NaN,NaN,0,135.876749,136.676659,134.411596,133.539749,127.725454,80179802.2,106617491.1,1.067983e+08,1.080824e+08,1.048394e+08

### clean data

In [27]:
# reset index to datatime
# delet Next day close (future value)
# delet Ptc (future vale)
df = df.set_index(['Date'])
df = df.drop(['NxtClose','Ptc'], axis= 1)

In [28]:
df.tail()

,Open,High,Low,Close,Volume,sgn,ma5,ma10,ma20,ma30,ma60,ma_vol5,ma_vol10,ma_vol20,ma_vol30,ma_vol60
Date,,,,,,,,,,,,,,,,
2021-02-02,135.527476,136.106612,134.409152,134.788589,83305400,0,135.845007,137.223946,133.172000,132.618494,126.467268,130038140.0,124494920.0,1.142834e+08,1.165266e+08,1.084359e+08
2021-02-03,135.557435,135.567429,133.410649,133.740158,89880900,1,134.223431,137.414662,133.318282,132.860799,126.718809,119845560.0,123051060.0,1.138942e+08,1.131046e+08,1.078274e+08
2021-02-04,136.096628,137.194977,134.389172,137.184998,84183100,0,134.283340,137.466585,133.856977,133.165677,127.030011,108157960.0,119416420.0,1.103490e+08,1.118690e+08,1.073228e+08
2021-02-05,137.350006,137.419998,135.860001,136.759995,75524000,1,135.282718,137.256334,134.158744,133.334902,127.373570,87826640.0,115578100.0,1.086463e+08,1.087563e+08,1.060063e+08
2021-02-08,136.029999,136.949997,134.929993,136.910004,68005611,0,135.876749,136.676659,134.411596,133.539749,127.725454,80179802.2,106617491.1,1.067983e+08,1.080824e+08,1.048394e+08

In [29]:
# add previouse 5 days data
for j in df.iloc[:,6:].columns:
    for i in range(1,6):
        df[f'Pre{i}{j}'] = df[f'{j}'].shift(i)
print(df.head(10))

                 Open       High        Low      Close     Volume  sgn  \
Date
2011-02-09  10.926702  11.043910  10.916859  11.018068  482745200    0
2011-02-10  10.994382  11.074673  10.705516  10.906707  928550000    1
2011-02-11  10.913166  11.006992  10.875942  10.977768  367572800    1
2011-02-14  10.975924  11.058675  10.973463  11.049447  310416400    1
2011-02-15  11.049754  11.073750  10.999304  11.071596  284174800    1
2011-02-16  11.099279  11.225407  11.090050  11.170958  481157600    0
2011-02-17  10.990076  11.082980  10.967618  11.022377  530583200    0
2011-02-18  11.034987  11.059290  10.752275  10.784269  816057200    0
2011-02-22  10.525554  10.625534  10.389274  10.416653  872555600    1
2011-02-23  10.421577  10.602154  10.416654  10.540014  671854400    1

                  ma5       ma10  ma20  ma30  ...  Pre1ma_vol30  Pre2ma_vol30  \
Date                                          ...
2011-02-09        NaN        NaN   NaN   NaN  ...           NaN           NaN
2011-02-10        NaN        NaN   NaN   NaN  ...           NaN           NaN
2011-02-11        NaN        NaN   NaN   NaN  ...           NaN           NaN
2011-02-14        NaN        NaN   NaN   NaN  ...           NaN           NaN
2011-02-15  11.004717        NaN   NaN   NaN  ...           NaN           NaN
2011-02-16  11.035295        NaN   NaN   NaN  ...           NaN           NaN
2011-02-17  11.058429        NaN   NaN   NaN  ...           NaN           NaN
2011-02-18  11.019729        NaN   NaN   NaN  ...           NaN           NaN
2011-02-22  10.893171        NaN   NaN   NaN  ...           NaN           NaN
2011-02-23  10.786854  10.895786   NaN   NaN  ...           NaN           NaN

            Pre3ma_vol30  Pre4ma_vol30  Pre5ma_vol30  Pre1ma_vol60  \
Date
2011-02-09           NaN           NaN           NaN           NaN
2011-02-10           NaN           NaN           NaN           NaN
2011-02-11           NaN           NaN           NaN           NaN
2011-02-14           NaN           NaN           NaN           NaN
2011-02-15           NaN           NaN           NaN           NaN
2011-02-16           NaN           NaN           NaN           NaN
2011-02-17           NaN           NaN           NaN           NaN
2011-02-18           NaN           NaN           NaN           NaN
2011-02-22           NaN           NaN           NaN           NaN
2011-02-23           NaN           NaN           NaN           NaN

            Pre2ma_vol60  Pre3ma_vol60  Pre4ma_vol60  Pre5ma_vol60
Date
2011-02-09           NaN           NaN           NaN           NaN
2011-02-10           NaN           NaN           NaN           NaN
2011-02-11           NaN           NaN           NaN           NaN
2011-02-14           NaN           NaN           NaN           NaN
2011-02-15           NaN           NaN           NaN           NaN
2011-02-16           NaN           NaN           NaN           NaN
2011-02-17           NaN           NaN           NaN           NaN
2011-02-18           NaN           NaN           NaN           NaN
2011-02-22           NaN           NaN           NaN           NaN
2011-02-23           NaN           NaN           NaN           NaN

[10 rows x 66 columns]

In [30]:
df.tail()

,Open,High,Low,Close,Volume,sgn,ma5,ma10,ma20,ma30,...,Pre1ma_vol30,Pre2ma_vol30,Pre3ma_vol30,Pre4ma_vol30,Pre5ma_vol30,Pre1ma_vol60,Pre2ma_vol60,Pre3ma_vol60,Pre4ma_vol60,Pre5ma_vol60
Date,,,,,,,,,,,,,,,,,,,,,
2021-02-02,135.527476,136.106612,134.409152,134.788589,83305400,0,135.845007,137.223946,133.172000,132.618494,...,1.168951e+08,1.166274e+08,1.159738e+08,1.138592e+08,1.120624e+08,1.093514e+08,1.093744e+08,1.084692e+08,1.092634e+08,1.093515e+08
2021-02-03,135.557435,135.567429,133.410649,133.740158,89880900,1,134.223431,137.414662,133.318282,132.860799,...,1.165266e+08,1.168951e+08,1.166274e+08,1.159738e+08,1.138592e+08,1.084359e+08,1.093514e+08,1.093744e+08,1.084692e+08,1.092634e+08
2021-02-04,136.096628,137.194977,134.389172,137.184998,84183100,0,134.283340,137.466585,133.856977,133.165677,...,1.131046e+08,1.165266e+08,1.168951e+08,1.166274e+08,1.159738e+08,1.078274e+08,1.084359e+08,1.093514e+08,1.093744e+08,1.084692e+08
2021-02-05,137.350006,137.419998,135.860001,136.759995,75524000,1,135.282718,137.256334,134.158744,133.334902,...,1.118690e+08,1.131046e+08,1.165266e+08,1.168951e+08,1.166274e+08,1.073228e+08,1.078274e+08,1.084359e+08,1.093514e+08,1.093744e+08
2021-02-08,136.029999,136.949997,134.929993,136.910004,68005611,0,135.876749,136.676659,134.411596,133.539749,...,1.087563e+08,1.118690e+08,1.131046e+08,1.165266e+08,1.168951e+08,1.060063e+08,1.073228e+08,1.078274e+08,1.084359e+08,1.093514e+08

## prepare training data

In [31]:
df = df.dropna(axis=0)

In [32]:
# training period: 20130228~20180228
df_train = df[df.index < '2018-02-08' ]
# resample the training data 
sgn_1 = df_train[df_train['sgn'] == 1]
sgn_0 = df_train[df_train['sgn'] == 0]
len_1 = len(sgn_1)
len_0 = len(sgn_0)
print(f'Up record has {len_1} row, while the down records have {len_0} row \n')

Up record has 876 row, while the down records have 821 row

In [33]:
from sklearn.utils import resample
#resample
df_majority = sgn_1
df_minority = sgn_0

# Upsample minority class
df_minority_upsampled = resample(df_minority, 
                                 replace=True,     # sample with replacement
                                 n_samples= len_1,    # to match majority class
                                 random_state=42) # reproducible results
# Combine majority class with upsampled minority class
df_train = pd.concat([df_majority, df_minority_upsampled])
 
# Display new class counts
print('after resample, the records situation is: \n',df_train.sgn.value_counts())
df_train_x = df_train.drop(['sgn'], axis=1)
df_train_y = df_train['sgn']
print(f'{len(df_train_x)} row training data is prepated.')

after resample, the records situation is:
 1    876
0    876
Name: sgn, dtype: int64
1752 row training data is prepated.

## Prapre test data

In [34]:
# testing period: 20180228~20190228
df_test = df[(df.index > '2018-02-08') & (df.index < '2020-02-08')]
df_test_x = df_test.drop(['sgn'], axis=1)
df_test_y = df_test['sgn']
print(f'{len(df_test_x)} row test data is prepared. \n')

502 row test data is prepared.

## train model

In [35]:
from sklearn.ensemble import RandomForestClassifier
from joblib import dump, load

clf = RandomForestClassifier(max_depth=2, random_state=42)
clf_model = clf.fit(df_train_x,df_train_y)
dump(clf_model, 'AAPL_model.joblib')
df_test_predict =  clf_model.predict(df_test_x)
#save prediction results
df_test['predict'] = df_test_predict  
df_test.to_csv('AAPL_test_predict.csv')

<ipython-input-35-5cee7abfbb4d>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['predict'] = df_test_predict

In [36]:
# test model
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

print(f'classification reports \n')
print(confusion_matrix(df_test_y, df_test_predict))
print(f'Accuracy rate is {accuracy_score(df_test_y, df_test_predict)}')

classification reports

[[225   0]
 [277   0]]
Accuracy rate is 0.448207171314741

## predition on new data and assign singal

In [37]:
# paper trading period: 20200208 ~ 20210208
# print('Starting Prediction on trading date')
df_trade = df[df.index > '2020-02-08'].drop('sgn', axis=1)
# load model
model = load('AAPL_model.joblib')
df_trade['predict'] = model.predict(df_trade)
# save prediction file 
df_trade.to_csv('AAPL_prediction_sgn.csv')

## back testing

In [45]:
# single stock back testing
import datetime  # 用于datetime对象操作
import os.path  # 用于管理路径
import sys  # 用于在argvTo[0]中找到脚本名称
import backtrader as bt # 引入backtrader框架
from backtrader.feeds import GenericCSVData # 用于扩展DataFeed
import pandas as pd
# better plotting and results analys
from backtrader_plotting import Bokeh

# Buy Signal: Machine Learning 
# Sell Signal: close price < ma5

# Extend DataFeed
class GenericCSVDataEx(GenericCSVData):
    # customize line
    lines = ('predict', 'ma5','ma30','ma_vol5','ma_vol30')
    params = (('predict', 16),('ma5',6),('ma30',9),('ma_vol5',11),('ma_vol30',14))

# creating a strategy
class DPStrategy(bt.Strategy):
    params = (
        ('trailpercent', 0.05),
    )
    def log(self, txt, dt=None):
        ''' Logging function fot this strategy'''
        dt = dt or self.datas[0].datetime.date(0)
        print('%s, %s' % (dt.isoformat(), txt))

    def __init__(self):
        # Keep a reference to the "close" line in the data[0] dataseries
        self.dataclose = self.datas[0].close
        self.datapredict = self.datas[0].predict
        self.datama5 = self.datas[0].ma5
        self.datama30 = self.datas[0].ma30
        self.datavol5 = self.datas[0].ma_vol5
        self.datavol30 = self.datas[0].ma_vol30
        # To keep track of pending orders and buy price/commission
        self.order = None
        self.buyprice = None
        self.buycomm = None


    def notify_order(self, order):
        if order.status in [order.Submitted, order.Accepted]:
            # Buy/Sell order submitted/accepted to/by broker - Nothing to do
            return

        # Check if an order has been completed
        # Attention: broker could reject order if not enough cash
        if order.status in [order.Completed]:
            if order.isbuy():
                self.log(
                    'BUY EXECUTED, Price: %.2f, Cost: %.2f, Comm %.2f' %
                    (order.executed.price,
                     order.executed.value,
                     order.executed.comm))

                self.buyprice = order.executed.price
                self.buycomm = order.executed.comm
            else:  # Sell
                self.log('SELL EXECUTED, Price: %.2f, Cost: %.2f, Comm %.2f' %
                         (order.executed.price,
                          order.executed.value,
                          order.executed.comm))

            self.bar_executed = len(self)

        elif order.status in [order.Canceled, order.Margin, order.Rejected]:
            self.log('Order Canceled/Margin/Rejected')

        # Write down: no pending order
        self.order = None

    def notify_trade(self, trade):
        if not trade.isclosed:
            return

        self.log('OPERATION PROFIT, GROSS %.2f, NET %.2f' %
                 (trade.pnl, trade.pnlcomm))

    def next(self):
        # Simply log the closing price of the series from the reference
        # self.log('Close, %.2f' % self.dataclose[0])

        # Check if an order is pending ... if yes, we cannot send a 2nd one
        if self.order:
            return

        # Check if we are in the market
        if not self.position:

            # Not yet ... we MIGHT BUY if ...
            if self.datapredict[0] == 1:

                # BUY, BUY, BUY!!! (with all possible default parameters)
                # self.log('BUY CREATE, %.2f' % self.dataclose[0])

                # Keep track of the created order to avoid a 2nd order
                self.order = self.buy()

        else:
            Condition1 = self.datama5[0] < self.datama30[0]
            Condition2 = self.datavol5[0] > self.datavol30[0]

            if Condition1 & Condition2:
                # SELL, SELL, SELL!!! (with all possible default parameters)
                # self.log('SELL CREATE, %.2f' % self.dataclose[0])

                # Keep track of the created order to avoid a 2nd order
                self.order = self.sell()

In [47]:

if __name__ == '__main__':

    modpath = os.path.dirname(os.path.abspath(sys.argv[0]))

    #stklist = pd.read_csv(stkfilepath)['code'].tolist()

    cerebro = bt.Cerebro()
    # add strategy
    cerebro.addstrategy(DPStrategy)

    datapath = modpath + '/AAPL_prediction_sgn.csv'
    #add data
    data = GenericCSVDataEx(
            dataname = datapath,
            fromdate = datetime.datetime(2020, 1, 1),
            todate = datetime.datetime(2021, 2, 20),
            #todate = datetime.datetime(2018, 1, 15),
            nullvalue = 0.0,
            dtformat = ('%Y-%m-%d'),
            datetime = 0,
            open = 1,
            high = 2,
            low = 3,
            close = 4,
            volume = 5,
            openinterest = -1,
            predict = 16,
            ma5 = 6
            )
    cerebro.adddata(data, name = '000001.SZ')
    # set principle 
    cerebro.broker.setcash(50000.0)
    # set commission 
    cerebro.broker.setcommission(commission=0.00025)
    # set size 
    cerebro.addsizer(bt.sizers.FixedSize, stake=1000)
    # print out starting capital 
    print('Starting Portfolio Value: %.2f' % cerebro.broker.getvalue())
    # start backtesting 
    cerebro.run()
    #plot
    cerebro.plot()
    # b = Bokeh(style='bar', plot_mode='single')
    # cerebro.plot(b)
    # print out final capital 
    print('Final Portfolio Value: %.2f' % cerebro.broker.getvalue())

Starting Portfolio Value: 50000.00

In [39]:
import os
#* Getting stock list 
# getting currecnt working dirctory
cwd = os.getcwd()
path = cwd + '/OData'

stocklist = []
for filename in os.listdir(path):
    if filename.endswith('.csv'):
        stocklist.append(filename.split(".")[0])

len(stocklist)

506