In [2]:
import pandas as pd
import yfinance as yf

In [4]:
df = pd.read_csv('/Users/bowenduan/Applications/OneDrive/200_Knowledge/210_Academe/211_University/PACE University/105_Spring 2021/CS668 Analytics Capstone/CS668-2021/data/AAPL.csv')
df.head()

         Date       Open       High        Low      Close     Volume
0  2011-02-09  10.926702  11.043910  10.916859  11.018068  482745200
1  2011-02-10  10.994382  11.074673  10.705516  10.906707  928550000
2  2011-02-11  10.913166  11.006992  10.875942  10.977768  367572800
3  2011-02-14  10.975924  11.058675  10.973463  11.049447  310416400
4  2011-02-15  11.049754  11.073750  10.999304  11.071596  284174800

In [7]:
# get the previouse day close to label the data
df['PreClose'] = df['Close'].shift(1)
df.head()

,Date,Open,High,Low,Close,Volume,PreClose
0,2011-02-09,10.926702,11.043910,10.916859,11.018068,482745200,NaN
1,2011-02-10,10.994382,11.074673,10.705516,10.906707,928550000,11.018068
2,2011-02-11,10.913166,11.006992,10.875942,10.977768,367572800,10.906707
3,2011-02-14,10.975924,11.058675,10.973463,11.049447,310416400,10.977768
4,2011-02-15,11.049754,11.073750,10.999304,11.071596,284174800,11.049447

In [11]:
# label the observation 
# 1 for price going up, 0 for price going down
# calculate the daily percent change
df['Ptc'] = round(df['Close']/df['PreClose'] - 1, 4)*100
df['sgn'] = [1 if  x > 0 else 0 for x in df['Ptc']]
df.head()

,Date,Open,High,Low,Close,Volume,PreClose,Ptc,sgn
0,2011-02-09,10.926702,11.043910,10.916859,11.018068,482745200,NaN,NaN,0
1,2011-02-10,10.994382,11.074673,10.705516,10.906707,928550000,11.018068,-1.01,0
2,2011-02-11,10.913166,11.006992,10.875942,10.977768,367572800,10.906707,0.65,1
3,2011-02-14,10.975924,11.058675,10.973463,11.049447,310416400,10.977768,0.65,1
4,2011-02-15,11.049754,11.073750,10.999304,11.071596,284174800,11.049447,0.20,1